.Rproj.user
.Rhistory
.RData
*.dvi
*.nav
*.snm
*.toc
*.aux
*.bbl
*.log
*.out
*.blg
*.png
*.eps
*.zip
/icml/*
rstats*
/data/MetaFilterUntilFeb2011/contactData.txt
/data/MetaFilterUntilFeb2011/userData.txt
example*
tmp*
/tmp/*
/data/eckmann-small.rdata
/data/eckmann.rdata
/data/eckmann/dyadic-small-sorted.rdata
/data/eckmann/dyadic-small.rdata
/data/eckmann/dyadic.rdata
/data/eckmann/eckmann-counts-by-date.pdf
/data/eckmann/eckmann-dataset1.csv
/data/eckmann/eckmann-dataset2.csv
/data/eckmann/eckmann-num-unique.pdf
/data/eckmann/eckmann.tar.gz
/data/eckmann/eckmann.txt
/data/eckmann/fits.rdata
/data/eckmann/fits.shared.rdata
/data/eckmann/process.R
/data/eckmann/processPadhraicVersion.R
/data/eckmann/processPadhraicVersion.R~
/data/irvine.rdata
/data/irvine/contactData.txt
/data/irvine/notes.txt
/data/irvine/userData.txt
/data/kiel/all-cleaned-contiguous.edges
/data/kiel/ebel_bornholdt_email.net
/data/synthetic.rdata
/data/twitter-small.rdata
/docs/notes.pdf
/docs/submission.pdf
/eda/km-effects.pdf
/eda/km-rec-props.pdf
/eda/km-sen-props.pdf
/eda/km-senrec-props.pdf
/figs/eckmann-small/postpred-pshift.pdf
/figs/eckmann-small/postpred-time.pdf
/figs/eckmann/lpost.shared.pdf
/figs/eckmann/shared.pdf
/figs/online-debug-time.pdf
/figs/online-debug-time1.pdf
/figs/onlinedebug-75-85.pdf
/figs/onlinedebug.eckmann.pdf
/figs/synthetic/postpred-pshift.pdf
/figs/synthetic/postpred-time.pdf
/figs/time-misspec.pdf
/figs/twitter-small.llk.tex
/figs/twitter-small/dashboard.pdf
/figs/twitter-small/fixedz.pdf
/figs/twitter-small/recall.200.pdf
/figs/twitter-small/recall.500.pdf
/figs/twitter-small/recall.all.pdf
/figs/twitter/adjmat.pdf
/figs/twitter/sorted.pdf
/pkg/src/.gitignore
/pkg/src/remdp.o
/pkg/src/utils.o
/results/eckmann-small-bk/counts.rdata
/results/eckmann-small-bk/full.1.rdata
/results/eckmann-small/counts.rdata
/results/eckmann-small/final/results.rdata
/results/eckmann-small/full.1.rdata
/results/eckmann-small/full.2.rdata
/results/eckmann-small/full.3.rdata
/results/eckmann-small/llks/full.1.rdata
/results/eckmann-small/llks/full.2.rdata
/results/eckmann-small/llks/full.3.rdata
/results/eckmann-small/llks/marg.rdata
/results/eckmann-small/llks/online.rdata
/results/eckmann-small/llks/uniform.rdata
/results/eckmann-small/ranks/full.1.rdata
/results/eckmann-small/ranks/full.2.rdata
/results/eckmann-small/ranks/full.3.rdata
/results/eckmann-small/ranks/marg.rdata
/results/eckmann-small/ranks/online.rdata
/results/eckmann-small/ranks/uniform.rdata
/results/irvine/baserates.2.rdata
/results/irvine/baserates.3.rdata
/results/irvine/counts.rdata
/results/irvine/full.1.rdata
/results/irvine/full.2.rdata
/results/irvine/full.3.rdata
/results/irvine/full.4.rdata
/results/irvine/ranks/marg.rdata
/results/irvine/ranks/online.rdata
/results/irvine/ranks/uniform.rdata
/results/irvine/shared.2.rdata
/results/irvine/shared.3.rdata
/results/irvine/shared.4.rdata
/results/synthetic/counts.rdata
/results/synthetic/final/results.rdata
/results/synthetic/full.1.rdata
/results/synthetic/full.2.rdata
/results/synthetic/llks/full.1.rdata
/results/synthetic/llks/full.2.rdata
/results/synthetic/llks/marg.rdata
/results/synthetic/llks/online.rdata
/results/synthetic/llks/truth.rdata
/results/synthetic/llks/uniform.rdata
/results/synthetic/ranks/full.1.rdata
/results/synthetic/ranks/full.2.rdata
/results/synthetic/ranks/marg.rdata
/results/synthetic/ranks/online.rdata
/results/synthetic/ranks/truth.rdata
/results/synthetic/ranks/uniform.rdata
/results/synthetic/truth.rdata
/results/twitter-small/baserates.2.rdata
/results/twitter-small/baserates.3.rdata
/results/twitter-small/counts.rdata
/results/twitter-small/full.1.rdata
/results/twitter-small/full.2.rdata
/results/twitter-small/full.3.rdata
/results/twitter-small/full.4.rdata
/results/twitter-small/llks/baserates.2.rdata
/results/twitter-small/llks/baserates.3.rdata
/results/twitter-small/llks/full.1.rdata
/results/twitter-small/llks/full.2.rdata
/results/twitter-small/llks/full.3.rdata
/results/twitter-small/llks/marg.rdata
/results/twitter-small/llks/online.rdata
/results/twitter-small/ranks/.rdata
/results/twitter-small/ranks/baserates.2.rdata
/results/twitter-small/ranks/baserates.3.rdata
/results/twitter-small/ranks/full.1.rdata
/results/twitter-small/ranks/full.2.rdata
/results/twitter-small/ranks/full.3.rdata
/results/twitter-small/ranks/marg.rdata
/results/twitter-small/ranks/online.rdata
/results/twitter-small/ranks/shared.2.rdata
/results/twitter-small/ranks/shared.3.rdata
/results/twitter-small/ranks/uniform.rdata
/results/twitter-small/shared.2.rdata
/results/twitter-small/shared.3.rdata
/results/twitter-small/shared.4.rdata
